# ドキュメントのタイトル

## 概要

* ドキュメントの体の要約です。全エンジニアが理解でき、この文書を読むべきか判断できるような高レベルのサマリーを 3段落以内で簡潔に記載します。この文書の目的や重要性を短くまとめ、読者の興味を引く内容にします。

## 背景

* 現状の課題やプロジェクトが必要とされる理由、およびドキュメントがカバーするシステムの範囲を説明します
* 技術的・ビジネス的背景や、この設計がチームの戦略・目標にどう関連するかを記し、読者に前提知識を提供します
* この文書で扱うスコープ（範囲）と、逆に扱わない領域を明確に定義し、読者の期待を調整します

## ゴールと非ゴール

* このドキュメントで達成したい目標と、あえて対象外とする非目標を箇条書きで列挙します
* 非ゴールには、本来目標になり得るが今回は扱わない範囲を明記します

## 詳細設計(Optional)

* 設計の概要をより詳細に記載する
* 図を記載する場合は Mermaid 記法を使用してください

## その他の関心事(Optional)

* プロジェクトの進め方、影響範囲、注意点に関することを記載

## 関連リンク

* リンクを箇条書きで記載
